.rxApp-demo #embedded-app {
  display: block;
  width: 100%;
  height: 340px;
}
.rxBulkSelect-demo .pending-status {
  color: #d14904;
}
.rxBulkSelect-demo .success-status {
  color: #2e7d32;
}
.rxBulkSelect-demo .failure-status {
  color: #f44336;
}
.rxMultiSelect-demo .multi-select-container {
  width: 200px;
}
.rxMultiSelect-demo table {
  table-layout: fixed;
}
.rxSearchBox-demo .wide-search-box {
  width: 100%;
}
.rxSelect-demo .demoContainer {
  width: 400px;
}
.rxStatusColumn-demo .demo-status-column-table {
  max-width: 500px;
}
