.example .button-group.demo-button-width {
  width: 250px;
}
.example .collapsible-filter-example-form {
  width: 400px;
}
.example .rxStatusMappings-demo .demo-status-column-table {
  max-width: 500px;
}
