.rx-option-table {
  thead {
    tr {
      th:first-child {
        /* Fix column width in demos */
        width: 40px;
      }
    }
  }
}

.info-panel {
  .info-title {
    box-sizing: content-box;
  }
}

/* rxActionMenu border-box corrections */
/* TODO: migrate this back into src/elements/ActionMenu */
.action-list {
  min-width: 254px; // [234px] + 12px hPad + 8px hBorder

  &:before {
    left: auto;
    right: -3px;
  }
}

/* rxModalAction border-box corrections */
/* TODO: migrate back into src/elements/Modals */
.modal-body {
  max-height: 423px; // [323px] + 100vPad + 0 vBorder
}

/* rxDatePicker border-box corrections */
/* TODO: migrate back into src/element/Forms#date-picker */
rx-date-picker {
  .popup  {
    width: auto;

    .calendar {
      width: 210px; // 30px (date width) x 7 days (one week)
    }
  }
}
