<div class="demoApp">
  <div class="demoApp__stage appStage">
    <div class="appStage__left globalNav rx-inverse">
      <div class="globalNav__header">
        <div class="brand">EncoreUI</div>
        <b>Version 3.1.0</b>
        <rx-collapse expanded="false">
          <switch-docs>
            <em>Dev Mode: Cannot Switch Versions</em>
          </switch-docs>
        </rx-collapse>
      </div>

      <nav class="globalNav__list">
        <demo-nav-item
           ng-repeat="route in routes"
           item="route"
           level="1">
        </demo-nav-item>
      </nav>

      <footer class="globalNav__footer">
        <i class="fa fa-fw fa-comment"></i>
        <rx-feedback></rx-feedback>
      </footer>
    </div>

    <div class="appStage__right">
      <rx-notifications></rx-notifications>
      <div class="page-header">
        <rx-breadcrumbs></rx-breadcrumbs>
      </div>
      <main ng-transclude></main>
    </div>
  </div>
</div>
