<h2 class="page-title" id="html-styleguide">HTML Styleguide</h2><h3  id="acknowledgements">Acknowledgements:</h3><p>Most of these standards are based off of the guidelines provided by
<a href="https://google.github.io/styleguide/htmlcssguide.xml#Indentation">Google</a>, and
current developer feedback. Reading up on these materials will give you a much
greater understanding of why these rules were chosen.</p>
<h3  id="basic-rules">Basic Rules:</h3><h4  id="use-two-space-indentations">Use Two Space Indentations</h4><p>The framework is indenting by two spaces at a time. Please do not use tabs
or mix tabs and spaces when indenting.</p>
<h5  id="scenario-1">Scenario 1</h5><pre><code class="lang-html">&lt;ul&gt;
  &lt;li&gt;List Item...&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<h5  id="scenario-2">Scenario 2</h5><p>This is an example of using the proper indentation with nested elements.
Each child element is nested and indented two spaces from its parent
element.</p>
<pre><code class="lang-html">&lt;ul&gt;
  &lt;li&gt;List Item
    &lt;ul&gt;
      &lt;li&gt;Nested UL List Item&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<h4  id="html-max-line-length">HTML Max Line Length</h4><p>The maximum line length for HTML files should be 120 characters. Review line
lengths during coding of HTML files, and break to a new line if it exceeds
120 characters. Hyperlinks are an exception to this rule. Hyperlinks can
exceed the 120 character limit and must not be broken or separated.</p>
